body {
    background-color: black;
    color: #a0a0a0;
}

a {
    color: #A3964E;
}

a:visited {
    color: #735A0A;
}

.tr {
    color: orangered;
}

.pos {
    color: green;
    font-weight: bold;
}

.co {
    color: #888888;
}